<%= render :partial => 'shared/tel_tab', :locals => {active: 0} %>

<!-- tel contents -->
<div id="tel_show">

  <% if @user_tel.role == 30 || @user_tel.role == 20 %>
  <a href="javascript:void(0)" class="save btn btn-info">Save</a>
  <% end %>
  <canvas id="canvas" width='900' height='1400'></canvas>

</div>

<%= hidden_field_tag 'first_msg', @tel.first_msg %>
<%= hidden_field_tag 'number', @tel.twilio_phone.friendly_name %>
<%= hidden_field_tag 'base_tel_bumber', @tel.base_tel_bumber %>
<%= hidden_field_tag 'organize_name', @tel.organize_name %>

<%= javascript_include_tag 'jcanvas/controller' %>

