<ul class="nav nav-tabs tel-tab" style="margin-bottom: 15px;">
  <li data="/tels/id" class="<%= "active" if active == 0 %>"><a href="javascript:void(0)" data-toggle="tab"><%= t('tab.operator') %></a></li>
  <li data="/tels/id/records" class="<%= "active" if active == 1 %>"><a href="javascript:void(0)" data-toggle="tab"><%= t('tab.record') %></a></li>
  <li data="/tels/id/members" class="<%= "active" if active == 2 %>"><a href="javascript:void(0)" data-toggle="tab"><%= t('tab.member') %></a></li>
  <li data="/tels/id/edit" class="<%= "active" if active == 3 %>"><a href="javascript:void(0)" data-toggle="tab"><%= t('tab.setting') %></a></li>
</ul>
